body{
    background-image: url(./assets/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    
}
.root{
    width: 100%;
}

.container{
    width: 90%;
    margin: auto;
}
.saludo{
    color: aliceblue;
    text-align: center;
}
.container-button-form{
    display: flex;
    gap: 10px;
}

